<IfModule mod_rewrite.c>
    RewriteEngine On

    # --- Allow PWA files directly ---
    RewriteCond %{REQUEST_URI} ^/manifest.json$ [OR]
    RewriteCond %{REQUEST_URI} ^/service-worker.js$
    RewriteRule .* - [L]

    # --- Laravel Front Controller ---
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
